<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beardream.dao.DishMapper">
  <resultMap id="BaseResultMap" type="com.beardream.model.Dish">
    <id column="dish_id" jdbcType="INTEGER" property="dishId" />
    <result column="dishtype_id" jdbcType="INTEGER" property="dishtypeId" />
    <result column="nurtrition_id" jdbcType="INTEGER" property="nurtritionId" />
    <result column="sugar_content" jdbcType="INTEGER" property="sugarContent" />
    <result column="dish_nutrition_status" jdbcType="INTEGER" property="dishNutritionStatus" />
    <result column="dish_rec_image" jdbcType="INTEGER" property="dishRecImage" />
    <result column="dish_name" jdbcType="VARCHAR" property="dishName" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="dish_desc" jdbcType="VARCHAR" property="dishDesc" />
    <result column="dish_image" jdbcType="VARCHAR" property="dishImage" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.beardream.model.Dish">
    <result column="dish_content" jdbcType="LONGVARCHAR" property="dishContent" />
  </resultMap>
  <sql id="dishtype_Column_List">
    d.dish_id, d.dishtype_id, dt.type_name, d.dish_name, d.dish_desc, d.dish_image, d.add_time, d.nurtrition_id, d.dish_nutrition_status, d.dish_rec_image
  </sql>
  <sql id="nutrition_Column_List">
    n.grease, n.heat, n.sugar_content
  </sql>
  <sql id="Base_Column_List">
    dish_id, dishtype_id, dish_name, dish_desc, dish_image, add_time, nurtrition_id, dish_nutrition_status, dish_rec_image
  </sql>
  <sql id="Blob_Column_List">
    dish_content
  </sql>

  <select id="findBySelective" resultMap="BaseResultMap">
    SELECT
    <include refid="dishtype_Column_List" />,
    <include refid="nutrition_Column_List" />,
    <include refid="Blob_Column_List" />
    from t_dish d inner join t_dish_type dt on d.dishtype_id=dt.dishtype_id left join t_nutrition n on d.nurtrition_id=n.nurtrition_id
    <where>
      <if test="dishId != null">
        and dish_id = #{dishId,jdbcType=INTEGER}
      </if>
      <if test="nurtritionId != null">
        and nurtrition_id = #{nurtritionId,jdbcType=INTEGER}
      </if>
      <if test="dishNutritionStatus != null">
        and dish_nutrition_status = #{dishNutritionStatus,jdbcType=INTEGER}
      </if>
      <if test="dishRecImage != null">
        and dish_rec_image = #{dishRecImage,jdbcType=VARCHAR}
      </if>
      <if test="dishtypeId != null">
        and dishtype_id = #{dishtypeId,jdbcType=INTEGER}
      </if>
      <if test="dishName != null">
        and dish_name = #{dishName,jdbcType=VARCHAR}
      </if>
      <if test="dishContent != null">
        and dish_content = #{dishContent}
      </if>
      <if test="dishImage !=null">
        and dish_image = #{dishImage,jdbcType=VARCHAR}
      </if>
      <if test="dishDesc != null">
        and dish_desc = #{dishDescContent,jdbcType=VARCHAR}
      </if>
      <if test="addTime != null">
        and add_time = #{addTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by add_time desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="dishtype_Column_List" />,
    <include refid="nutrition_Column_List" />,
    <include refid="Blob_Column_List" />
    from t_dish d inner join t_dish_type dt on d.dishtype_id=dt.dishtype_id left join t_nutrition n on d.nurtrition_id=n.nurtrition_id
    where dish_id = #{dishId,jdbcType=INTEGER}
  </select>
  <select id="selectByDishName" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from t_dish
    where dish_name = #{dishName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dish
    where dish_id = #{dishId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beardream.model.Dish">
    insert into t_dish (dish_id, dishtype_id, dish_name, dish_image, dish_desc,nurtrition_id,dish_nutrition_status, dish_rec_image
      add_time, dish_content)
    values (#{dishId,jdbcType=INTEGER}, #{dishtypeId,jdbcType=INTEGER}, #{dishName,jdbcType=VARCHAR},#{dishImage,jdbcType=VARCHAR},
      #{dishDesc,jdbcType=VARCHAR}, #{nurtritionId,jdbcType=INTEGER}, #{dishNutritionStatus,jdbcType=INTEGER},#{dishRecImage,jdbcType=VARCHAR},
       #{addTime,jdbcType=TIMESTAMP}, #{dishContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.beardream.model.Dish">
    insert into t_dish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dishId != null">
        dish_id,
      </if>
      <if test="nurtritionId != null">
        nurtrition_id,
      </if>
      <if test="dishNutritionStatus != null">
        dish_nutrition_status,
      </if>
      <if test="dishRecImage != null">
        dish_rec_image,
      </if>
      <if test="dishtypeId != null">
        dishtype_id,
      </if>
      <if test="dishName != null">
        dish_name,
      </if>
      <if test="dishDesc != null">
        dish_desc,
      </if>
      <if test="dishImage !=null">
        dish_image,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="dishContent != null">
        dish_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dishId != null">
        #{dishId,jdbcType=INTEGER},
      </if>
      <if test="nurtritionId != null">
        #{nurtritionId,jdbcType=INTEGER},
      </if>
      <if test="dishNutritionStatus != null">
        #{dishNutritionStatus,jdbcType=INTEGER},
      </if>
      <if test="dishRecImage != null">
        #{dishRecImage,jdbcType=VARCHAR},
      </if>
      <if test="dishtypeId != null">
        #{dishtypeId,jdbcType=INTEGER},
      </if>
      <if test="dishName != null">
        #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="dishDesc != null">
        #{dishDesc,jdbcType=VARCHAR},
      </if>
      <if test="dishImage !=null">
        #{dishImage,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dishContent != null">
        #{dishContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beardream.model.Dish">
    update t_dish
    <set>
      <if test="dishName != null">
        dish_name = #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="nurtritionId != null">
        nurtrition_id = #{nurtritionId,jdbcType=INTEGER},
      </if>
      <if test="dishNutritionStatus != null">
        dish_nutrition_status = #{dishNutritionStatus,jdbcType=INTEGER},
      </if>
      <if test="dishRecImage != null">
        dish_rec_image = #{dishRecImage,jdbcType=VARCHAR},
      </if>
      <if test="dishtypeId != null">
        dishtype_id = #{dishtypeId,jdbcType=INTEGER},
      </if>
      <if test="dishDesc != null">
        dish_desc = #{dishDesc,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dishContent != null">
        dish_content = #{dishContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="dishImage !=null">
        dish_image = #{dishImage,jdbcType=VARCHAR},
      </if>
    </set>
    where dish_id = #{dishId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.beardream.model.Dish">
    update t_dish
    set dish_name = #{dishName,jdbcType=VARCHAR},
      dishtype_id =  #{dishtypeId,jdbcType=INTEGER},
      nurtrition_id =  #{nurtritionId,jdbcType=INTEGER},
      dish_nutrition_status =  #{dishNutritionStatus,jdbcType=INTEGER},
      dish_rec_image =  #{dishRecImage,jdbcType=VARCHAR},
      dish_desc = #{dishDesc,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      dish_content = #{dishContent,jdbcType=LONGVARCHAR},
      dish_image = #{dishImage,jdbcType=VARCHAR}
    where dish_id = #{dishId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beardream.model.Dish">
    update t_dish
    set dish_name = #{dishName,jdbcType=VARCHAR},
      dishtype_id =  #{dishtypeId,jdbcType=INTEGER},
      nurtrition_id =  #{nurtritionId,jdbcType=INTEGER},
      dish_nutrition_status =  #{dishNutritionStatus,jdbcType=INTEGER},
      dish_rec_image =  #{dishRecImage,jdbcType=VARCHAR},
      dish_desc = #{dishDesc,jdbcType=VARCHAR},
      dish_image = #{dishImage,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where dish_id = #{dishId,jdbcType=INTEGER}
  </update>
</mapper>